nav {
  display: flex;
  justify-content: space-between;
  height: 5%;
}

.links {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links li {
  display: flex;
  justify-content: space-around;
  margin-left: 5vh;
}

a {
  text-decoration: none;
  color: black;
}
